<html lang="en">
  
    <head>

        <link rel="stylesheet" type="text/css" href="../WebContent/styles/log-in.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
    </head>
    
  
  <body>
    <div class="container">

      <form class="form-signin"  action="${pageContext.request.contextPath}/LoginServlet" method="post">

        <h2 class="form-signin-heading">Forgot password?</h2>
		<h6 class="form-signin-heading">Enter your email in the form and follow the steps described in your mail</h6>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
		
      </form>
	  
      <br/>
      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>