<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../ResourceLoader?v=$encrypt_main_page" />
        <link rel="stylesheet" type="text/css" href="../ResourceLoader?v=$encrypt_bootstrap_social" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
       <script src="https://apis.google.com/js/api:client.js"></script>  
       <script src="../ResourceLoader?v=$encrypt_js"></script>     

    	

       <title> Home </title>
    </head>
    
    <body>
        <!--Navbar-->
        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="http://localhost:8080/Web/Controller/MainPageModel" class="navbar-brand">Condr</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    #if ($urlImage)
                        <li> 
                        
                       <div class="image-cropper">
                       
                         <img class="my-picture" src="$urlImage" alt="This is a picture of me"/>
                         
                       </div>
                       <li><a href="http://localhost:8080/Web/Controller/UserProfile">$name</a>
                        <li class="dropdown">
                        </li>
                        <li><a href="#log-out" onclick=logout();>Log out</a>
       
                     #else
                        <li><a href="#log-in" data-toggle="modal" data-target="#sign-in-modal" ><span class="glyphicon glyphicon-log-in"> </span> Log-in</a>
                       #end 
                        
                        <li><a href="#about"><span class="glyphicon glyphicon-th"> </span> About</a>
                        
                      
                    </ul>
                    
                </div>    
            </div>
        </nav>
        <!-- jumbotronus -->
        <div class="jumbotron">
            <div class="container text-center">
                <h1 >Condr</h1>
                <p id="status">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore."</p>
                
                <!-- SEARCH BAR!!! -->
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for food"> 
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END OF SEARCH BAR!!! -->
            </div>
        </div>
        
        <div class="container">
            <h1 id="balbla">Chestii</h1><br/>
            <p id="if">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
		<div class="container">
            <h1 id="loll">Barcode result:</h1><br/>
			<div id="dbr"></div>
			<div id="videoOption" style="display: none;">
				Camera Sources:<select id="videoSource"></select>
			</div>
			<button id="go" onclick="scanBarcode()">Scan Barcode!</button>
			<div>
				<video style="float:left"></video>
				<canvas id="pcCanvas" width="640" height="480" style="display: none; float: left;"></canvas>
				<canvas id="mobileCanvas" width="240" height="320" style="display: block; float: left;"></canvas>
				</div>
       </div>
        
        <div class="container">
            <section>
                <div class="page-header" id="contact">
                    <h2>Contact Us.<small>Contact info</small></h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Send us the message, or contact us through a pigeon.</p>
                        
                        <address>
                            <strong>Ceva SRL</strong><br/>
                            str. Bomfaierul Ghidus, 72, Pipera<br/> 
                            Iasi, Romania<br>
                            Fax: 09283789992
                        </address>
                    </div>
                    
                    <div class="col-lg-8">
                        <h4> office.condr.vccngsc@condr.com
                    </div>
                    
                </div>
            </section>
        </div>
        
        <div class="container-full">
          
            <footer class="footer row">

                    <p >Condr, your daily asistant(c).</p>
                    <p> <a href="#">Back to top</a> </p>  
   
            </footer>
          
        </div>
    
        <!-- Aci ai modala de sign-in -->
        
        <div class="modal fade" id="sign-in-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-signin" action="#LogIn" method="post">               
                              <br/>
                              #if ($loginFail) 
                                 <p style="color:#FF0000";>Login Failure</p>
                              #end
                              
							<div id="customBtn" >
							<a class="btn btn-block btn-social btn-google">
								<span id="spn" class="fa fa-google-plus"></span> Log in with gmail
								</a>
							</div>
							
								<a class="btn btn-block btn-social btn-facebook" onclick="fb_login();">
								<span class="fa fa-facebook"></span> Log in with facebook
								</a>
							</div>
							<br/>
							
                        </form>
                    </div>
                </div>    
            </div>
        </div>
        
        <!-- pana aci e modala -->
        <script>startApp();</script>
        <script>
        var videoElement = document.querySelector('video');
        var canvas = document.getElementById('pcCanvas');
        var mobileCanvas = document.getElementById('mobileCanvas');
        var ctx = canvas.getContext('2d');
        var mobileCtx = mobileCanvas.getContext('2d');
        var videoSelect = document.querySelector('select#videoSource');
        var videoOption = document.getElementById('videoOption');
        var buttonGo = document.getElementById('go');
        var barcode_result = document.getElementById('dbr');
        var isConnected = false;
        var isPaused = false;
        var intervalId = 0;
        var videoWidth = 640, videoHeight = 480;
        var mobileVideoWidth = 240, mobileVideoHeight = 320;
        var isPC = true;
        // check devices
        function browserRedirect() {
           var deviceType;
           var sUserAgent = navigator.userAgent.toLowerCase();
           var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
           var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
           var bIsMidp = sUserAgent.match(/midp/i) == "midp";
           var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
           var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
           var bIsAndroid = sUserAgent.match(/android/i) == "android";
           var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
           var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
           if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            deviceType = 'phone';
           } else {
            deviceType = 'pc';
           }
           return deviceType;
        }
        if (browserRedirect() == 'pc') {
          isPC = true;
        }
        else {
          isPC = false;
        }
        // create websocket
        var ws = new WebSocket("ws://localhost:8081/Web/Controller/scan");
        ws.binaryType = 'arraybuffer';
        ws.onopen = function() {
          isConnected = true;
          ws.send("Hi");
        //  setInterval(function() {
//              if (ws.bufferedAmount == 0)
//            	  ws.send(getUpdateData());
        //   }, 100);
        };
        ws.onmessage = function (evt) {
          if (isPaused) {
            return;
          }
          var result = evt.data;
          barcode_result.textContent = result;
          // display barcode result
          if (result.indexOf("No barcode") == -1) {
            isPaused = true;
            window.clearInterval(intervalId);
            console.log("Get result, clean id: " + intervalId);
            buttonGo.disabled = false;
            if (isPC) {
              canvas.style.display  = 'block';
            }
            else {
              mobileCanvas.style.display  = 'block';
            }
          }
        };
        ws.onclose = function() {
          isConnected = false;
          console.log("Closed");
        };
        ws.onerror = function(err) {
            console.log("Error: " + err);
        };
        // initialize camera infos for Chrome
        function initCameraSource(sourceInfos) {
          for (var i = 0; i < sourceInfos.length; i++) {
            var sourceInfo = sourceInfos[i];
            var option = document.createElement('option');
            option.value = sourceInfo.id;
            if (sourceInfo.kind === 'video') {
              option.text = sourceInfo.label || "Camera " + (videoSelect.length + 1);
              videoSelect.appendChild(option);
            } else {
              console.log("Source info: " + sourceInfo);
            }
          }
          toggleCamera();
        }
        // stackoverflow: http://stackoverflow.com/questions/4998908/convert-data-uri-to-file-then-append-to-formdata/5100158
        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);
            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            // write the bytes of the string to a typed array
            ws.send("buffer size:"+byteString.length);
            var ia = new Uint8Array(byteString.length);
           // ws.send(byteString.length+'sa1321312');
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ia], {type:mimeString});
        }
        function successCallback(stream) {
          window.stream = stream;
          videoElement.src = window.URL.createObjectURL(stream);
          videoElement.play();
        }
        function errorCallback(error) {
          console.log("Error: " + error);
        }
        function startCamera(constraints) {
          if (navigator.getUserMedia) {
             navigator.getUserMedia(constraints, successCallback, errorCallback);
          }
          else {
             console.log("getUserMedia not supported");
          }
        }
        function toggleCamera() {
          var videoSource = videoSelect.value;
          var constraints = {
            video: {
              optional: [{
                sourceId: videoSource
              }]
            }
          };
          startCamera(constraints);
        }
        // add button event
        buttonGo.onclick = function() {
          window.clearInterval(intervalId);
          console.log("clean id: " + intervalId);
          if (isPC) {
            canvas.style.display = 'none';
          }
          else {
            mobileCanvas.style.display = 'none';
          }
          isPaused = false;
          scanBarcode();
        };
        console.log("camera has started");
        // query supported Web browsers
        if (navigator.getUserMedia || navigator.mozGetUserMedia) {
          navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia;
          startCamera({
            video: {
              // mandatory: {
              //   maxWidth: 640,
              //   maxHeight: 480
              // }
            }
          });
        }
        else if (navigator.webkitGetUserMedia) {
          videoOption.style.display  = 'block';
          navigator.getUserMedia = navigator.webkitGetUserMedia;
          MediaStreamTrack.getSources(initCameraSource);
          videoSelect.onchange = toggleCamera;
        }
        // scan barcode
        function scanBarcode() {
        //  intervalId = window.setInterval(function() {
        //    
        //
        //  }, 200);
        console.log("button Scan Barcode is hit");
          if (!isConnected || isPaused) {
              return;
          }
          var data = null, newblob = null;
          if (isPC) {
            ctx.drawImage(videoElement, 0, 0, videoWidth, videoHeight);
            // convert canvas to base64
            
            data = canvas.toDataURL('image/jpeg', 1.0);
            // convert base64 to binary
            newblob = dataURItoBlob(data);
            ws.send(newblob);
            ws.send('image sent');
          }
          else {
            ws.send("is phone");
            mobileCtx.drawImage(videoElement, 0, 0, mobileVideoWidth, mobileVideoHeight);
            // convert canvas to base64
            data = mobileCanvas.toDataURL('image/jpeg', 1.0);
            ws.send(data);
          }
          console.log("create id: " + intervalId);
        }
        </script>
    </body>
</html>