
<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/main_page.css" />
        <link rel="stylesheet" type="text/css" href="../bootstrap_social/bootstrap-social.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
       <script src="https://apis.google.com/js/api:client.js"></script>       
         <script>
         var http = new XMLHttpRequest();
         var url = "Web/Controller/Test";
         var params = "token=11111";
         http.open("POST", url, false);

         //Send the proper header information along with the request
         http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

         http.onreadystatechange = function() {//Call a function when the state changes.
             if(http.readyState == 4 && http.status == 200) {
                console.log("succes");
             }
         }
         
         var googleUser = {};
         var startApp = function() {
           gapi.load('auth2', function(){
             // Retrieve the singleton for the GoogleAuth library and set up the client.
             auth2 = gapi.auth2.init({
               client_id: '494217629857-3qlnbam99rn8v2o3521c3nuq7lpp1o8f.apps.googleusercontent.com',
               cookiepolicy: 'single_host_origin',
               // Request scopes in addition to 'profile' and 'email'
               //scope: 'additional_scope'
             });
             attachSignin(document.getElementById('customBtn'));
           });
         };

         function attachSignin(element) {
           console.log(element.id);
           auth2.attachClickHandler(element, {},
               function(googleUser) {
        	     http.send("token="+googleUser.getAuthResponse().id_token+"&name="+googleUser.getBasicProfile().getName());
        	  
                 window.location.replace("http://localhost:8080/Web/Controller/")
               }, function(error) {
                 alert(JSON.stringify(error, undefined, 2));
               });
         }
         
         </script>

       <title> Home </title>
    </head>
    
    <body>
        <!--Navbar-->
        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="#Condr" class="navbar-brand">Condr</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#log-in" data-toggle="modal" data-target="#sign-in-modal" ><span class="glyphicon glyphicon-log-in"> </span> Log-in</a>
                        <li><a href="#about"><span class="glyphicon glyphicon-th"> </span> About</a>
                        
                        
                    </ul>
                    
                </div>    
            </div>
        </nav>
        
        
        <!-- jumbotronus -->
        <div class="jumbotron">
            <div class="container text-center">
                <div class="search-text1">Condr</div>
                <div class="search-text2">Search a product by name, barcode or ingredients.</div>
                <!-- SEARCH BAR!!! -->
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for food"> 
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END OF SEARCH BAR!!! -->
            </div>
        </div>
        
        <div class="container">
            <div class="main-text1">The time has come</div>
            <div><img src="../images/fruits.jpg" class="main-img"></div>
            <div class="main-text2">To be the master of your appetite</div>
        </div>
        
        <div class="jumbotron" style="margin-top:50px;">
            <div class="why-text1">Why Condr?</div>
            <blockquote>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-1">
                        <img class="img-circle" src="../images/zen.jpg" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-md-9 ">
                        <p>In this plate of food, I see the entire universe supporting my existence.</p>
                        <small>A Zen blessing</small>
                    </div>
                </div>
                <div class="container why-text2">
                   In the last years, a great trend of "I have to eat healthier" dug straight in the roots of our society. And in a digitalized society, having an app that can help you to make choices for your diet it's the perfect wy to start to dive in this trend. Condr helps you to choose what you eat, beacause he knows your preferneces. Also, Condr can recommand you new and good things specially selected for your tummy.
                </div>
            </blockquote>
        </div>
        
        
        <div class="jumbotron">
            <div class="container">
                <h4>Trending this week</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="container-full">
          
            <footer class="footer">

                    <p >Condr, your daily asistant(c).</p>
                    <div class="container">
                        <section>
                            <div class="page-header" id="contact">
                                <h2>Contact Us.</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <p>Send us the message, or contact us through a pigeon.</p>
                                    
                                    <address>
                                        <strong>Ceva SRL</strong><br/>
                                        str. Bomfaierul Ghidus, 72, Pipera<br/> 
                                        Iasi, Romania<br>
                                        Fax: 09283789992
                                    </address>
                                </div>
                                
                                <div class="col-lg-8">
					<h4> office.condr.vccngsc@condr.com </h4>
                                </div>
                                
                            </div>
                        </section>
                    </div>
                    <p> <a href="#">Back to top</a> </p>  
   
            </footer>
          
        </div>
    
        <!-- Aci ai modala de sign-in -->
        
        <div class="modal fade" id="sign-in-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-signin" action="#LogIn" method="post">               
                              <br/>
							<div id="customBtn" >
							<a class="btn btn-block btn-social btn-google">
								<span id="spn" class="fa fa-google-plus"></span> Log in with gmail
								</a>
							</div>
							
								<a class="btn btn-block btn-social btn-facebook">
								<span class="fa fa-facebook"></span> Log in with facebook
								</a>
							
							<br/>
							
                        </form>
                    </div>
                </div>    
            </div>
        </div>
        
        <!-- pana aci e modala -->
        <script>startApp();</script>
    </body>
</html>
