<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/product_container.css" />
        
		<link rel="stylesheet" href="../starability-master/starability-minified/starability-all.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/comments.css" />
                <link rel="stylesheet" type="text/css" href="../styles/bootstrap-tagsinput.css" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="/Web/ResourceLoader?v=$encrypt_js"></script>  


		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		
		<script src="js/like-dislike.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
        
        <link href="../styles/jquery.tagit.css" rel="stylesheet" type="text/css">
        <link href="../styles/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

        <!-- The real deal -->
        <script src="../js/tag-it.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-tagsinput.js"></script>
	

        <script>
            $(function(){
            	console.log();
                var sampleTags1 =$goodTagsComment;
                var sampleTags2 =$badTagsComment;

                //-------------------------------
                // Minimal
                //-------------------------------
                $('#myTags').tagit();

                //-------------------------------
                // Single field
                //-------------------------------
                $('#singleFieldTagsGood').tagit({
                    availableTags: sampleTags1,
                    singleField: true
                });
                
                $('#singleFieldTagsBad').tagit({
                    beforeTagAdded: function (event, ui) {             
                            $('#singleFieldTagsBad').css('background', 'red')
                    },
                	availableTags: sampleTags2,
                    singleField: true
                    
                });
                
                $('#goodTagsProduct').tagit({
                	readOnly: true
                });
                
                $('#badTagsProduct').tagit({
                	readOnly: true
                });
                var eventTags = $('#eventTags');

                var addEvent = function(text) {
                    $('#events_container').append(text + '<br>');
                };

              

                //-------------------------------
                // Read-only
                //-------------------------------
                $('#readOnlyTags').tagit({
                    readOnly: true
                });


            });
        </script>

        
    </head>
    
    <body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="http://localhost:8080/Web/Controller/MainPageModel" class="navbar-brand">Condr</a>
                    
                </div>
                <div class="col-sm-6">
                   <form class="navbar-form" action="/Web/Search"  method="POST" role="search">
                    <div class="input-group">
                     <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle search-button-style" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                         <span id="active_search_type">EAN</span>
                         <span class="caret"></span>
                      </button>
                       <ul class="dropdown-menu">
                             <li  data-attr-type="ean" data-attr-name="EAN" data-attr-placeholder="Search  barcode">
                               <a id="eanSearch" class="dropdown_item" href="#" onclick="eanSearch();">EAN</a>
                             </li>
                             <li  data-attr-type="product" data-attr-name="Product" data-attr-placeholder="Search product name">
                               <a  id="productSearch" class="dropdown_item" href="#" onclick="productSearch();">Product</a>
                             </li>
                             <li  data-attr-type="brand" data-attr-name="Brand" data-attr-placeholder="Search brand name">
                               <a id="brandSearch" class="dropdown_item" href="#" onclick="brandSearch();">Brand</a>
                             </li>
                             <li  data-attr-type="brand" data-attr-name="Category" data-attr-placeholder="Search category name">
                               <a id="categorySearch" class="dropdown_item" href="#" onclick="categorySearch();">Category</a>
                             </li>
                            
                            </ul>
                     </div>   
                        <input id="searchText"  type="text" name="EAN" class="form-control" placeholder="Search barcode"> 
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            
                        </div>
                    </div>
                </form>
                   
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    #if ($urlImage)
                        <li> 
                        
                       <div class="image-cropper">
                       
                         <img class="my-picture" src="$urlImage" alt="This is a picture of me"/>
                         
                       </div>
                       <li><a href="http://localhost:8080/Web/Controller/UserProfile">$name</a>
                        <li class="dropdown">
                        </li>
                        <li><a href="#log-out" onclick="logout();">Log out</a>
       
                     #else
                        <li><a href="#log-in" data-toggle="modal" data-target="#sign-in-modal" ><span class="glyphicon glyphicon-log-in"> </span> Log-in</a>
                       #end 
                        
                        <li><a href="#about"><span class="glyphicon glyphicon-th"> </span> About</a>
                        
                      
                    </ul>
                    
                </div>    
            </div>
        </nav>
        
        
        <div class="container container-produs">
            <div class="row">
                <div class="col-md-5">
                    <!--<img src="jacobs.jpg" class="img-produs center-block"> -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                          <!-- Wrapper for slides -->
                        <div class="carousel-inner gallery" role="listbox">
                            <div class="item active">
                                <img src="../images/jacobs.jpg" class="vertical-center">
                            </div>

                            <div class="item">
                                <img src="../images/coffee.jpg" class="vertical-center">
                            </div>

                            <div class="item">
                                <img src="../images/bean.jpg" class="vertical-center cneter-block">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div id="x" name="$id_product" class="text-produs">
                        <h4><b>Jacobs</b></h4><br/>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="greutate-produs">
                            <b>Weight:</b> 200g
                        </div>
                        <div>
                            <h5><b>Ingredients:</b></h5>
                            <div class="produs-substante">
                                <button class="btn btn-info">
                                    Coffee
                                </button>
                                
                                <button class="btn btn-danger">
                                    Milk
                                </button>
                                
                                <button class="btn btn-warning">
                                    Cinammon
                                </button>
                            </div>
                            
                            <h5><b>Alergens:</b></h5>
                            <div class="produs-substante">
                                <button class="btn btn-info">
                                    Gluten
                                </button>
                                
                                <button class="btn btn-info">
                                    Alune
                                </button>
                                
                                <button class="btn btn-danger">
                                    Eritromicina
                                </button>
                                
                                <button class="btn btn-info">
                                    Lactate
                                </button>
                                
                            </div>
                                 <input name="tagsProduct1" id="goodTagsProduct" value = $goodTagsProduct> 
                            </div>
                            
                             </div>
                                 <input name="tagsProduct2" id="badTagsProduct" value = $badTagsProduct> 
                            </div>
                          
						         
                            #if ($rating==1)
								<img src="../images/1.png" class="comment-star">
								#end
							#if ($rating==2)
								<img src="../images/2.png" class="comment-star">
								#end
							#if ($rating==3)
								<img src="../images/3.png" class="comment-star">
								#end
							#if ($rating==4)
								<img src="../images/4.png" class="comment-star">
								#end
							#if ($rating==5)
						     	<img src="../images/5.png" class="comment-star">
								#end
							</div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        
        <br/>
        
        <div class="jumbotron">
            <div class="container">
                <h4>Related with this product</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            
            <div id="commentBox" class="form-group comment-box">

            <h3>Add your feedback </h3> 
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <label for="comment">Good Tags:</label>
                <input name="goodTags" id="singleFieldTagsGood">  
						    
				<label for="comment">Bad Tags:</label>
                <input name="badTags" id="singleFieldTagsBad">  
               
                <div id="ratingAndPost" class="comment-rate">
                    <b>Rate this product</b>
                    <fieldset class="starability-basic"> 
                        <input type="radio" id="rate5" name="rating" value="5" />
                        <label for="rate5" title="Amazing">5 stars</label>

                        <input type="radio" id="rate4" name="rating" value="4" />
                        <label for="rate4" title="Very good">4 stars</label>

                        <input type="radio" id="rate3" name="rating" value="3" />
                        <label for="rate3" title="Average">3 stars</label>

                        <input type="radio" id="rate2" name="rating" value="2" />
                        <label for="rate2" title="Not good">2 stars</label>

                        <input type="radio" id="rate1" name="rating" value="1" />
                        <label for="rate1" title="Terrible">1 star</label>
                    </fieldset>
                 #if ($canAdd=="true")
                <button id = "buttonComment" class="btn btn-primary comment-button">
                    Post it
                </button>
                </div>
               #end
               #if ($canAdd=="false")
                <button id = "buttonComment" disabled = "true" class="btn btn-primary comment-button">
                    Post it
                </button>
                </div>
               #end
                
               
				 <ul>
				  </div>
				  
				  <div class="comments-container">
				<h1>Feedback: </h1>

					<ul id="comments-list" class="comments-list">
						<li>
				  
			#foreach( $obj in $comments)
							<div class="comment-main-level">
								<!-- Avatar -->
								<div class="comment-avatar"><img src= $obj.get("userImage") alt=""></div>
								<!-- Comment content -->
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-author"><a href="">$obj.get("userName") </a></h6>
										<div>
											#if ($obj.get("rating")=="1")
											<img src="../images/1.png" class="comment-star">
											#end
											#if ($obj.get("rating")=="2")
											<img src="../images/2.png" class="comment-star">
											#end
											#if ($obj.get("rating")=='3')
											<img src="../images/3.png" class="comment-star">
											#end
											#if ($obj.get("rating")=='4')
											<img src="../images/4.png" class="comment-star">
											#end
											#if ($obj.get("rating")=="5")
											<img src="../images/5.png" class="comment-star">
											#end
											</div>
										#if ($obj.get("edit")=="true")							
										<i onclick = "sendCommentToDelete($obj.get('id'))">Delete</i>
										#end

									<input type="hidden" value=$obj.get("id") id="hidden_variable">
									</div>
									<div class="comment-content">
										$obj.get("comment")
									</div>
								
									<div>
									<input class="form-control"  value=$obj.get("goodTags") data-role="tagsinput"> 									
									</div>
									<div>
									<input class="form-control"  value=$obj.get("badTags") data-role="tagsinput"> 									
									</div>
								</div>
							</div>
						#end				
						</li>
					</ul>
				</div>
				</ul>
           
            
        
        <div class="container-full">    
            <footer class="footer"> <!-- -->
                
                    <p >Condr, your daily asistant(c).</p>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
                
            </footer>
        </div>
    
        <script>
		function sendComment(){
		console.log("entered send Comment function");
		var xmlHttp = new XMLHttpRequest();
		var xmlHttp1 = new XMLHttpRequest();

		var url = "Web/Controller/AddComment";
		var toSend = "comment=";
		xmlHttp.open("POST", url, true); //  asynchronous 
		xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
		xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
        	
        }
			else {
			console.log("nu este text in comment box");
			}
		}
		console.log(document.getElementById("comment").value);
		toSend+=document.getElementById("comment").value+' ';
		toSend+="&rating=";
		if (document.getElementById('rate5').checked) {
			console.log("selecta5");
			toSend+="5";
			}
		if (document.getElementById('rate4').checked) {
			console.log("selecta4");
			toSend+="4";
			}
		if (document.getElementById('rate3').checked) {
			  console.log("selecta3");
			  toSend+="3";
			}
		if (document.getElementById('rate2').checked) {
			console.log("selecta2");
			toSend+="2";
			}
		if (document.getElementById('rate1').checked) {
			console.log("selecta1");		
			toSend+="1";
			}
		var id_produs = document.getElementById("x").getAttribute("name");
		toSend+="&product="+id_produs;
		toSend+='&goodTags=' + document.getElementById('singleFieldTagsGood').value+' ';
		toSend+='&badTags=' + document.getElementById('singleFieldTagsBad').value+' ';

		xmlHttp.send(toSend);
		}
		
		
		function sendCommentToDelete(text){
            console.log("entered delete Comment function");
    		var toSend = "delete="+text;
    		$.ajax({
    			type: "POST",
    			url:"Web/Controller/DeleteComment",
    			data: toSend,
    			dataType: "json",
    			
    			success: function(data, textStatus, jqXHR){
    				if(data.success)
    					{
    					console.log('succeess received json');
    					}
    				else console.log('Unsucceess received json');
    				$("#comments-list").html("");
    				for (var i = 0; i < data.comments.length; i++) {
    				    var comment = data.comments[i].comment;
    				    var userImage = data.comments[i].userImage;
    				    var userName = data.comments[i].userName;
    				    var rating = data.comments[i].rating;
    				    var canEdit = data.comments[i].canEdit;
    				    var commentId = data.comments[i].commentId;
    				    var goodTags = data.comments[i].goodTags;
    				    var badTags = data.comments[i].badTags;
    				    console.log(comment+" "+userImage);
    				    var toAppend = "<div class=\"comment-main-level\">"+'\n';
    				    
    				    toAppend+="<div class=\"comment-avatar\"><img src="+ userImage +" alt=\"\"></div>"+'\n';
    				    
    				    toAppend+="<div class=\"comment-box\">"+'\n';
    				    toAppend+="<div class=\"comment-head\">"+'\n';
    				    toAppend+="<h6 class=\"comment-name by-author\"><a href=\"\">"+userName+" </a></h6>"+'\n';
    				    toAppend+="<div>"+'\n';
    				    if (rating=="5")
    				    	{
    				    	 toAppend+="<img src=\"../images/5.png\" class=\"comment-star\">"+'\n';
    				    	}
    				    if (rating=="4")
    			    	{
    			    	 toAppend+="<img src=\"../images/4.png\" class=\"comment-star\">"+'\n';
    			    	}
    				    if (rating=="3")
    			    	{
    			    	 toAppend+="<img src=\"../images/3.png\" class=\"comment-star\">"+'\n';
    			    	}
    				    if (rating=="2")
    			    	{
    			    	 toAppend+="<img src=\"../images/2.png\" class=\"comment-star\">"+'\n';
    			    	}
    				    if (rating=="1")
    			    	{
    			    	 toAppend+="<img src=\"../images/1.png\" class=\"comment-star\">"+'\n';
    			    	}
    				    toAppend+="</div>"+'\n';
    				    console.log(canEdit+'lalal');
    					if (canEdit=='true'){
    						console.log('se adauga');
    							toAppend+=" <i class\"fa fa-times\" onclick = \"sendCommentToDelete("+commentId+")\">Delete</i>"+'\n';
    					}
    					toAppend+="</div>"+'\n';
    					toAppend+="<div class=\"comment-content\">"+'\n';
    					toAppend+=comment;
    					toAppend+="</div>"+'\n';
    					toAppend+="<div>"+'\n';
    					toAppend+="<div class=\"bootstrap-tagsinput\">"+'\n';
    					toAppend+="<span class=\"tag label label-info\">"+goodTags+"<span data-role=\"remove\"></span></span>"+'\n';
    					toAppend+="<input type=\"text\" placeholder=\"\">"+'\n';
    					toAppend+="</div>"+'\n';
    					toAppend+="<input class=\"form-control\" value="+goodTags+" data-role=\"tagsinput\" style=\"display: none;\"> "+'\n';									
    					toAppend+="</div>"+'\n';	
    					toAppend+="<div>"+'\n';
    					toAppend+="<div class=\"bootstrap-tagsinput\">"+'\n';
    					toAppend+="<span class=\"tag label label-info\">"+badTags+"<span data-role=\"remove\"></span></span>"+'\n';
    					toAppend+="<input type=\"text\" placeholder=\"\">"+'\n';
    					toAppend+="</div>"+'\n';
    					toAppend+="<input class=\"form-control\" value="+badTags+" data-role=\"tagsinput\" style=\"display: none;\"> "+'\n';									
    					toAppend+="</div>"+'\n';										

    					
    				    toAppend+="</div>"+'\n';;
    				    toAppend+="</div>"+'\n';; 
    				    
    	                $("#comments-list").append(toAppend);
    	              
    				}
    			},
    		error: function(jqXHR, textStatus, errorThrown){
                console.log("Something really bad happened " + textStatus);
           },
         	 complete: function(jqXHR, textStatus){
                 $('#buttonComment').attr("disabled", false); 

               //$("#ratingAndPost").html("");
              // $("#ratingAndPost").append(" <b>Rate this product</b> <fieldset class=\"starability-basic\"> <input type=\"radio\" id=\"rate5\" name=\"rating\" value=\"5\" /> <label for=\"rate5\" title=\"Amazing\">5 stars</label> <input type=\"radio\" id=\"rate4\" name=\"rating\" value=\"4\" /> <label for=\"rate4\" title=\"Very good\">4 stars</label> <input type=\"radio\" id=\"rate3\" name=\"rating\" value=\"3\" /> <label for=\"rate3\" title=\"Average\">3 stars</label> <input type=\"radio\" id=\"rate2\" name=\"rating\" value=\"2\" /> <label for=\"rate2\" title=\"Not good\">2 stars</label> <input type=\"radio\" id=\"rate1\" name=\"rating\" value=\"1\" /> <label for=\"rate1\" title=\"Terrible\">1 star</label> </fieldset> <button id = \"buttonComment\" disabled=\"false\" class=\"btn btn-primary comment-button\"> Post it </button>");

           }	
    			
    			});

          };

		</script>
		<script>
		$("#buttonComment").click(function(e){
		var toSend="comment=";		
		toSend+=document.getElementById("comment").value+' ';
		toSend+="&rating=";
		if (document.getElementById('rate5').checked) {
			console.log("selecta5");
			toSend+="5";
			}
		if (document.getElementById('rate4').checked) {
			console.log("selecta4");
			toSend+="4";
			}
		if (document.getElementById('rate3').checked) {
			  console.log("selecta3");
			  toSend+="3";
			}
		if (document.getElementById('rate2').checked) {
			console.log("selecta2");
			toSend+="2";
			}
		if (document.getElementById('rate1').checked) {
			console.log("selecta1");		
			toSend+="1";
			}
		var id_produs = document.getElementById("x").getAttribute("name");
		toSend+="&product="+id_produs;
		toSend+='&goodTags=' + document.getElementById('singleFieldTagsGood').value+' ';
		toSend+='&badTags=' + document.getElementById('singleFieldTagsBad').value+' ';
		$.ajax({
		type: "POST",
		url:"Web/Controller/AddComment",
		data: toSend,
		dataType: "json",
		
		success: function(data, textStatus, jqXHR){
			if(data.success)
				{
				console.log('succeess received json');
				}
			else console.log('Unsucceess received json');
			$("#comments-list").html("");
			for (var i = 0; i < data.comments.length; i++) {
			    var comment = data.comments[i].comment;
			    var userImage = data.comments[i].userImage;
			    var userName = data.comments[i].userName;
			    var rating = data.comments[i].rating;
			    var canEdit = data.comments[i].canEdit;
			    var commentId = data.comments[i].commentId;
			    var goodTags = data.comments[i].goodTags;
			    var badTags = data.comments[i].badTags;

			    console.log(comment+" "+userImage);
			    var toAppend = "<div class=\"comment-main-level\">"+'\n';
			    
			    toAppend+="<div class=\"comment-avatar\"><img src="+ userImage +" alt=\"\"></div>"+'\n';
			    
			    toAppend+="<div class=\"comment-box\">"+'\n';
			    toAppend+="<div class=\"comment-head\">"+'\n';
			    toAppend+="<h6 class=\"comment-name by-author\"><a href=\"\">"+userName+" </a></h6>"+'\n';
			    toAppend+="<div>"+'\n';
			    if (rating=="5")
			    	{
			    	 toAppend+="<img src=\"../images/5.png\" class=\"comment-star\">"+'\n';
			    	}
			    if (rating=="4")
		    	{
		    	 toAppend+="<img src=\"../images/4.png\" class=\"comment-star\">"+'\n';
		    	}
			    if (rating=="3")
		    	{
		    	 toAppend+="<img src=\"../images/3.png\" class=\"comment-star\">"+'\n';
		    	}
			    if (rating=="2")
		    	{
		    	 toAppend+="<img src=\"../images/2.png\" class=\"comment-star\">"+'\n';
		    	}
			    if (rating=="1")
		    	{
		    	 toAppend+="<img src=\"../images/1.png\" class=\"comment-star\">"+'\n';
		    	}
			    toAppend+="</div>"+'\n';
			    console.log(canEdit+'lalal');
				if (canEdit=='true'){
					console.log('se adauga');
						toAppend+=" <i class\"fa fa-times\" onclick = \"sendCommentToDelete("+commentId+")\">Delete</i>"+'\n';
				}
				toAppend+="</div>"+'\n';
				toAppend+="<div class=\"comment-content\">"+'\n';
				toAppend+=comment;
				toAppend+="</div>"+'\n';
				toAppend+="<div>"+'\n';
				toAppend+="<div class=\"bootstrap-tagsinput\">"+'\n';
				toAppend+="<span class=\"tag label label-info\">"+goodTags+"<span data-role=\"remove\"></span></span>"+'\n';
				toAppend+="<input type=\"text\" placeholder=\"\">"+'\n';
				toAppend+="</div>"+'\n';
				toAppend+="<input class=\"form-control\" value="+goodTags+" data-role=\"tagsinput\" style=\"display: none;\"> "+'\n';									
				toAppend+="</div>"+'\n';	
				toAppend+="<div>"+'\n';
				toAppend+="<div class=\"bootstrap-tagsinput\">"+'\n';
				toAppend+="<span class=\"tag label label-info\">"+badTags+"<span data-role=\"remove\"></span></span>"+'\n';
				toAppend+="<input type=\"text\" placeholder=\"\">"+'\n';
				toAppend+="</div>"+'\n';
				toAppend+="<input class=\"form-control\" value="+badTags+" data-role=\"tagsinput\" style=\"display: none;\"> "+'\n';									
				toAppend+="</div>"+'\n';			
			    toAppend+="</div>"+'\n';;
			    toAppend+="</div>"+'\n';; 
			    
                $("#comments-list").append(toAppend);
				}
			},
			
			error: function(jqXHR, textStatus, errorThrown){
                console.log("Something really bad happened " + textStatus);
           },
         	 complete: function(jqXHR, textStatus){
               //enable the button 
               $('#buttonComment').attr("disabled", true); 
            //   $("#ratingAndPost").html("");
             //  $("#ratingAndPost").append(" <b>Rate this product</b> <fieldset class=\"starability-basic\"> <input type=\"radio\" id=\"rate5\" name=\"rating\" value=\"5\" /> <label for=\"rate5\" title=\"Amazing\">5 stars</label> <input type=\"radio\" id=\"rate4\" name=\"rating\" value=\"4\" /> <label for=\"rate4\" title=\"Very good\">4 stars</label> <input type=\"radio\" id=\"rate3\" name=\"rating\" value=\"3\" /> <label for=\"rate3\" title=\"Average\">3 stars</label> <input type=\"radio\" id=\"rate2\" name=\"rating\" value=\"2\" /> <label for=\"rate2\" title=\"Not good\">2 stars</label> <input type=\"radio\" id=\"rate1\" name=\"rating\" value=\"1\" /> <label for=\"rate1\" title=\"Terrible\">1 star</label> </fieldset> <button id = \"buttonComment\" disabled=\"true\" class=\"btn btn-primary comment-button\"> Post it </button>");

           }	
		});
		});
		</script>
    </body>
</html>
