<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/product_container.css" />
		<link rel="stylesheet" href="../starability-master/starability-minified/starability-all.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/comments.css" />
                <link rel="stylesheet" type="text/css" href="../styles/bootstrap-tagsinput.css" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		
		<script src="js/like-dislike.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
        
        <link href="../styles/jquery.tagit.css" rel="stylesheet" type="text/css">
        <link href="../styles/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

        <!-- The real deal -->
        <script src="../js/tag-it.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-tagsinput.js"></script>
	

        <script>
            $(function(){
                var sampleTags = ['sugar','too salty','E321','dangerous for babies'];

                //-------------------------------
                // Minimal
                //-------------------------------
                $('#myTags').tagit();

                //-------------------------------
                // Single field
                //-------------------------------
                $('#singleFieldTags').tagit({
                    availableTags: sampleTags,
                    // This will make Tag-it submit a single form value, as a comma-delimited field.
                    singleField: true,
                    singleFieldNode: $('#mySingleField')
                });

                // singleFieldTags2 is an INPUT element, rather than a UL as in the other 
                // examples, so it automatically defaults to singleField.
 

                //-------------------------------
                // Preloading data in markup
                //-------------------------------
                $('#myULTags').tagit({
                    availableTags: sampleTags, // this param is of course optional. it's for autocomplete.
                    // configure the name of the input field (will be submitted with form), default: item[tags]
                    itemName: 'item',
                    fieldName: 'tags'
                });

                //-------------------------------
                // Tag events
                //-------------------------------
                var eventTags = $('#eventTags');

                var addEvent = function(text) {
                    $('#events_container').append(text + '<br>');
                };

                eventTags.tagit({
                    availableTags: sampleTags,
                    beforeTagAdded: function(evt, ui) {
                        if (!ui.duringInitialization) {
                            addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                        }
                    },
                    afterTagAdded: function(evt, ui) {
                        if (!ui.duringInitialization) {
                            addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                        }
                    },
                    beforeTagRemoved: function(evt, ui) {
                        addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                    },
                    afterTagRemoved: function(evt, ui) {
                        addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                    },
                    onTagClicked: function(evt, ui) {
                        addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
                    },
                    onTagExists: function(evt, ui) {
                        addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
                    }
                });

                //-------------------------------
                // Read-only
                //-------------------------------
                $('#readOnlyTags').tagit({
                    readOnly: true
                });

                //-------------------------------
                // Tag-it methods
                //-------------------------------
                $('#methodTags').tagit({
                    availableTags: sampleTags
                });

                //-------------------------------
                // Allow spaces without quotes.
                //-------------------------------
                $('#allowSpacesTags').tagit({
                    availableTags: sampleTags,
                    allowSpaces: true
                });

                //-------------------------------
                // Remove confirmation
                //-------------------------------
                $('#removeConfirmationTags').tagit({
                    availableTags: sampleTags,
                    removeConfirmation: true
                });
                
            });
        </script>

        
    </head>
    
    <body>
        <!--Navbar-->
        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="" class="navbar-brand">Condr</a>
                    
                </div>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><img class="icon-navbar" href="" src="../images/dogee.png">
                        <li><a href="#username">Username</a>
                        <li class="dropdown">
                            <a href="#settings" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change password</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Delete account</a></li>
                            </ul>
                        </li>
                        <li><a href="#log-out">Log out</a>
                        
                    </ul>
                    
                </div>    
            </div>
        </nav>
        
        
        <div class="container container-produs">
            <div class="row">
                <div class="col-md-5">
                    <!--<img src="jacobs.jpg" class="img-produs center-block"> -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                          <!-- Wrapper for slides -->
                        <div class="carousel-inner gallery" role="listbox">
                            <div class="item active">
                                <img src="../images/jacobs.jpg" class="vertical-center">
                            </div>

                            <div class="item">
                                <img src="../images/coffee.jpg" class="vertical-center">
                            </div>

                            <div class="item">
                                <img src="../images/bean.jpg" class="vertical-center cneter-block">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div id="x" name="$id_product" class="text-produs">
                        <h4><b>Jacobs</b></h4><br/>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="greutate-produs">
                            <b>Weight:</b> 200g
                        </div>
                        <div>
                            <h5><b>Ingredients:</b></h5>
                            <div class="produs-substante">
                                <button class="btn btn-info">
                                    Coffee
                                </button>
                                
                                <button class="btn btn-danger">
                                    Milk
                                </button>
                                
                                <button class="btn btn-warning">
                                    Cinammon
                                </button>
                            </div>
                            
                            <h5><b>Alergens:</b></h5>
                            <div class="produs-substante">
                                <button class="btn btn-info">
                                    Gluten
                                </button>
                                
                                <button class="btn btn-info">
                                    Alune
                                </button>
                                
                                <button class="btn btn-danger">
                                    Eritromicina
                                </button>
                                
                                <button class="btn btn-info">
                                    Lactate
                                </button>
                            </div>
                            <img src="../images/star.png" class="star-produs">
                        </div>
                    </div>
               </div>
           </div>
        </div>
        
        <br/>
        
        <div class="jumbotron">
            <div class="container">
                <h4>Related with this product</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            
            <div class="form-group comment-box">
             #if ($canAdd == "false")
             <h3>You have already added your feedback</h3> 
             #end
            #if ($canAdd == "true")
            <h3>Add your feedback </h3> 
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <label for="comment">Tags:</label>
                <input name="tags" id="singleFieldTags">  
						         
               
                <div class="comment-rate">
                    <b>Rate this product</b>
                    <fieldset class="starability-basic"> 
                        <input type="radio" id="rate5" name="rating" value="5" />
                        <label for="rate5" title="Amazing">5 stars</label>

                        <input type="radio" id="rate4" name="rating" value="4" />
                        <label for="rate4" title="Very good">4 stars</label>

                        <input type="radio" id="rate3" name="rating" value="3" />
                        <label for="rate3" title="Average">3 stars</label>

                        <input type="radio" id="rate2" name="rating" value="2" />
                        <label for="rate2" title="Not good">2 stars</label>

                        <input type="radio" id="rate1" name="rating" value="1" />
                        <label for="rate1" title="Terrible">1 star</label>
                    </fieldset>
                </div>
                
                <button onclick="sendComment()" class="btn btn-primary comment-button">
                    Post it
                </button>
				 <ul>
	    		#end
				  
				  <div class="comments-container">
				<h1>Feedback: </h1>

					<ul id="comments-list" class="comments-list">
						<li>
				  
			#foreach( $obj in $comments)
							<div class="comment-main-level">
								<!-- Avatar -->
								<div class="comment-avatar"><img src= $obj.get("userImage") alt=""></div>
								<!-- Comment content -->
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-author"><a href="">$obj.get("userName") </a></h6>
										<div>
											#if ($obj.get("rating")=="1")
											<img src="../images/1.png" class="comment-star">
											#end
											#if ($obj.get("rating")=="2")
											<img src="../images/2.png" class="comment-star">
											#end
											#if ($obj.get("rating")=='3')
											<img src="../images/3.png" class="comment-star">
											#end
											#if ($obj.get("rating")=='4')
											<img src="../images/4.png" class="comment-star">
											#end
											#if ($obj.get("rating")=="5")
											<img src="../images/5.png" class="comment-star">
											#end
											</div>
										#if ($obj.get("edit")=="true")							
										<i class="fa fa-times" onclick = "sendCommentToDelete($obj.get('id'))"></i>
										#end
										$obj.get("like_value")
										#if ($obj.get("edit")=="false")	
										<button type="button" class="btn btn-default" aria-label="Right Align"  >
  										<span class="glyphicon glyphicon-thumbs-up" style="color:$obj.get("like_value")"  aria-hidden="true" onclick="if (this.style.color=='red') {this.style.color='blue'; sendDislike($obj.get('id'), $logged_user);} else {if (this.style.color!='blue') {this.style.color='red'; sendFirstLike($obj.get('id'), $logged_user); } else {this.style.color='red'; sendLike($obj.get('id'), $logged_user); }} ;"></span>
										</button>				
										
										<script>
									
										</script>
										#end

									<input type="hidden" value=$obj.get("id") id="hidden_variable">
									</div>
									<div class="comment-content">
										$obj.get("comment")
									</div>
								
									<div>
									<input class="form-control"  value=$obj.get("tags") data-role="tagsinput"> 									
									</div>
								</div>
							</div>
						#end				
						</li>
					</ul>
				</div>
				</ul>
            </div>
            
        
        <div class="container-full">    
            <footer class="footer"> <!-- -->
                
                    <p >Condr, your daily asistant(c).</p>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
                
            </footer>
        </div>
    
        <script>
		function sendComment(){
		console.log("entered send Comment function");
		var xmlHttp = new XMLHttpRequest();
		var xmlHttp1 = new XMLHttpRequest();

		var url = "Web/Controller/AddComment";
		var toSend = "comment=";
		xmlHttp.open("POST", url, true); //  asynchronous 
		xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
		xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
			console.log("este text in comment box");
			}
			else {
			console.log("nu este text in comment box");
			}
		}
		console.log(document.getElementById("comment").value);
		toSend+=document.getElementById("comment").value+' ';
		toSend+="&rating=";
		if (document.getElementById('rate5').checked) {
			console.log("selecta5");
			toSend+="5";
			}
		if (document.getElementById('rate4').checked) {
			console.log("selecta4");
			toSend+="4";
			}
		if (document.getElementById('rate3').checked) {
			  console.log("selecta3");
			  toSend+="3";
			}
		if (document.getElementById('rate2').checked) {
			console.log("selecta2");
			toSend+="2";
			}
		if (document.getElementById('rate1').checked) {
			console.log("selecta1");		
			toSend+="1";
			}
		var id_produs = document.getElementById("x").getAttribute("name");
		toSend+="&product="+id_produs;
		toSend+='&tags=' + document.getElementById('singleFieldTags').value+' ';
		xmlHttp.send(toSend);
		}
		
		
		function sendCommentToDelete(text){
            console.log("entered delete Comment function");
    		 var xmlHttp = new XMLHttpRequest();
    		 var url = "Web/Controller/DeleteComment";
    		 var toSend = "delete=";
    		 xmlHttp.open("POST", url, true); //  asynchronous 
    		 xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    		 xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
    			console.log("este text in comment box");
    			}
    			else {
    			console.log("nu este text in comment box");
    			}
    		}
    		toSend+=text;
    		console.log(text);
    		xmlHttp.send(toSend);
          }
		
		function sendLike(text, user){
            console.log("entered like Comment function");
    		 var xmlHttp = new XMLHttpRequest();
    		 var url = "Web/Controller/CommentRating";
    		 var toSend = "id=";
    		 var user1=user;
    		 console.log('user='+user1);
    		 xmlHttp.open("POST", url, true); //  asynchronous 
    		 xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    		 xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
    			console.log("este text in comment box");
    			}
    			else {
    			console.log("nu este text in comment box");
    			}
    		}
    		toSend+=text;
    		toSend+='&like=true';
    		toSend+='&first=false';
    		toSend+='&user='+user;
    		console.log('Like:'+text);
    		xmlHttp.send(toSend);
            }
		function sendDislike(text, user){
            console.log("entered like Comment function");
    		 var xmlHttp = new XMLHttpRequest();
    		 var url = "Web/Controller/CommentRating";
    		 var toSend = "id=";
    		 var user1=user;
    		 console.log('user='+user1);
    		 xmlHttp.open("POST", url, true); //  asynchronous 
    		 xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    		 xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
    			console.log("este text in comment box");
    			}
    			else {
    			console.log("nu este text in comment box");
    			}
    		}
    		toSend+=text;
    		toSend+='&like=false';
    		toSend+='&first=false';
    		toSend+='&user='+user;
    		console.log('Dislike:'+text);
    		xmlHttp.send(toSend);
            }
		function sendFirstLike(text, user){
            console.log("entered first Like Comment function");
    		 var xmlHttp = new XMLHttpRequest();
    		 var url = "Web/Controller/CommentRating";
    		 var user1=user;
    		 console.log('user='+user1);
    		 var toSend = "id=";
    		 xmlHttp.open("POST", url, true); //  asynchronous 
    		 xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    		 xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
    			console.log("este text in comment box");
    			}
    			else {
    			console.log("nu este text in comment box");
    			}
    		}
    		toSend+=text;
    		toSend+='&like=true';
    		toSend+='&first=true';
    		toSend+='&user='+user;
    		console.log('Like:'+text);
    		xmlHttp.send(toSend);
            }

		</script>
    </body>
</html>
