<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../ResourceLoader?v=$encrypt_user_profile" />
		<link rel="stylesheet" href="starability-master/starability-minified/starability-all.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="../ResourceLoader?v=$encrypt_js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--ca sa fie responsive-->
        <title>User Profile</title>
    </head>
    
    <body>
        <!--Navbar-->
        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="http://localhost:8080/Web/Controller/MainPageModel" class="navbar-brand">Condr</a>
                    
                </div>
                <div class="col-sm-6">
                   <form class="navbar-form" action="Web/Search"  method="GET" role="search">
                    <div class="input-group">
                     <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle search-button-style" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                         <span id="active_search_type">EAN</span>
                         <span class="caret"></span>
                      </button>
                       <ul class="dropdown-menu">
                             <li  data-attr-type="ean" data-attr-name="EAN" data-attr-placeholder="Search  barcode">
                               <a id="eanSearch" class="dropdown_item" href="#" onclick="eanSearch();">EAN</a>
                             </li>
                             <li  data-attr-type="product" data-attr-name="Product" data-attr-placeholder="Search product name">
                               <a  id="productSearch" class="dropdown_item" href="#" onclick="productSearch();">Product</a>
                             </li>
                             <li  data-attr-type="brand" data-attr-name="Brand" data-attr-placeholder="Search brand name">
                               <a id="brandSearch" class="dropdown_item" href="#" onclick="brandSearch();">Brand</a>
                             </li>
                             <li  data-attr-type="brand" data-attr-name="Category" data-attr-placeholder="Search category name">
                               <a id="categorySearch" class="dropdown_item" href="#" onclick="categorySearch();">Category</a>
                             </li>
                             <li>
                               <a href="/Web/Controller/BarScanner"><span>BarCodeScanner</span></a>
                             </li>
                            
                            </ul>
                     </div>   
                        <input id="searchText"  type="text" name="EAN" class="form-control" placeholder="Search barcode"> 
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            
                        </div>
                    </div>
                </form>
                   
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    #if ($urlImage)
                        <li> 
                        
                       <div class="image-cropper">
                       
                         <img class="my-picture" src="$urlImage" alt="This is a picture of me"/>
                         
                       </div>
       
                     
                        <li><a href="http://localhost:8080/Web/Controller/UserProfile">$name</a>
                        <li class="dropdown">
                            <a href="#settings" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick=deleteAction();>Delete account</a></li>
                            </ul>
                        </li>
                        <li><a href="#log-out" onclick=logout();>Log out</a>
                        #end
                    </ul>
                    
                </div>    
            </div>
        </nav>
        
        
        <div class="container container-produs yyy">
            <div class="row">
                <div class="col-md-3 col-sm-3">

 
                    <img id="profile_img" src="$urlImage" class="profile-img center-block xxx" align="left" height="250" width="250">
			
					
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="text-produs">
                        <h4><b>$name</b></h4><br/>
                        
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis 
                        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                        voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? </p>
                    </div>
               </div>
            </div>
            <div class="row">
                <h5><b>Kudos:</b></h5>
                <div class="produs-substante">
                    <button class="btn btn-success">
                        Vanilla
                    </button>
                    
                    <button class="btn btn-success">
                        Nuts
                    </button>
                    
                </div>
            </div>
            
            <div class="row">
                <h5><b>Substances you avoid:</b></h5>
                <div class="produs-substante">
                    <button class="btn btn-warning">
                        Cinammon
                    </button>
                    
                    <button class="btn btn-warning">
                        Chimen
                    </button>             
                </div>
            </div>
            
            <div class="row">
                <h5><b>Alergic to:</b></h5>
                <div class="produs-substante">
                    <button class="btn btn-danger">
                        Gluten
                    </button>
                    
                    <button class="btn btn-danger">
                        Eritromicina
                    </button>
                    
                </div>
                
            </div>
            
        </div>
        
        
    <div class="container">
        <div class="liked-products-container">
            <h4>Liked products</h4>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
        <div class="liked-products-container">
            <h4>Disliked products</h4>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="suggestion-container">
                        <div class="suggestion-container-img ">
                            <img src="../WebContent/images/capsuna.jpg" class="center-block">
                        </div>
                        
                        <div class="suggestion-title">
                            <h5>Capsuna</h5>
                        </div>
                        
                        <div class="button-product">
                            <button class="btn btn-primary center-block ">
                                Check it
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="jumbotron">
            <div class="container">
                <h4>Top products of the month</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-2">
                        <div class="suggestion-container">
                            <div class="suggestion-container-img ">
                                <img src="../WebContent/images/capsuna.jpg" class="center-block">
                            </div>
                            
                            <div class="suggestion-title">
                                <h5>Capsuna</h5>
                            </div>
                            
                            <div class="button-product">
                                <button class="btn btn-primary center-block ">
                                    Check it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container">
        </div>
        
        <div class="container-full">    
            <footer class="footer"> <!-- -->
                
                    <p >Condr, your daily asistant(c).</p>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
                
            </footer>
        </div>
    
        
    </body>
</html>
